<div class='mt-4'>
  <h3>Tạo khóa học</h3>
  <form method='POST' action='/courses/store'>
    <div class='form-group'>
      <label for='name'>Tên khóa học</label>
      <input
        name='name'
        type='text'
        class='form-control'
        id='name'
        placeholder='Nhập tên khóa học'
      />
      <label for='description'>Mô tả khóa học</label>
      <input
        name='description'
        type='text'
        class='form-control'
        id='description'
        placeholder='Mô tả khóa học'
      />

      <label for='videoId'>Video </label>
      <input
        name='videoId'
        type='text'
        class='form-control'
        id='videoId'
        placeholder='video'
      />

      <label for='level'>Mức độ</label>
      <input
        name='level'
        type='text'
        class='form-control'
        id='level'
        placeholder='Mức độ'
      />

    </div>

    <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
  </form>
</div>